{include file="template/_meta" /}
<title></title>
</head>

{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/common/css/aaa.css" />
<style type="text/css">
    body {
        background: #fff;
    }

    .ziji {
        width: auto;
    }

    .ziji>input {
        width: 150px;
    }

    .m_r {
        margin-right: 50px;
    }

    .m_t {
        margin-top: 50px;
    }

    .clone {
        display: flex;
        margin-left: 4px;
        margin-top: 15px;
    }

    .percent {
        font-size: 23px;
        font-weight: 800;
    }

    .one_more {
        padding: 0;
        width: 500px;
        text-align: center;
        line-height: 30px;
        color: rgb(14, 144, 210);
        border: 1px solid rgb(14, 144, 210);
        margin-top: 20px;
        margin-left: 360px;
    }

    .img_x {
        width: 20px;
        height: 20px;
    }

    .layui-btn {
        border-radius: 6px;
        height: 50px;
    }

    .layui-form-lists .layui-btn {
        width: 170px;
    }

    .layui-btn-normal {
        margin-right: 150px;
    }

    .layui-form-item {
        margin-left: 250px;
        margin-top: 80px;
    }
    .del_div {
        display: inline;
    }
    .del_div:hover {
        cursor: pointer;
    }
</style>

{/block}

<body>
    {block name="content"}
    <div id="app">
        <form class="layui-form layui-form-lists" action="{:url()}" method="post" enctype="multipart/form-data">
            <blockquote class="layui-elem-quote news_search">
                <div class="form-item">
                    红包策略
                </div>
            </blockquote>

            <div class="form-item m_t oneself">
                <label class="form-label" style="width:20%">自己甩奖励金额和概率</label>
                <div class="form-input ziji">
                    <input type="radio" name="oneself" value="自己概率" title=" " lay-filter="gailv" checked=''>
                </div>
                <div class="form-input ziji m_r">
                    <input type="text" name="percent_oneself" lay-verify="title" autocomplete="off" placeholder="  请输入金额"
                        class="layui-input">
                    <span class="percent">%</span>
                    <div class="tips">
                        <span class="red">*</span>奖励金额
                    </div>
                </div>
                <div class="form-input ziji">
                    <input type="text" name="probability_oneself" lay-verify="title" autocomplete="off" placeholder="  请输入数字"
                        class="layui-input">
                    <div class="tips">
                        <span class="red">*</span>输入数字后计算出出现的概率；0 ~ 99999,概率=此处数字÷所有添加档数字之和
                    </div>
                </div>

            </div>
          
            <div class="one_more" @click="add_oneself">添加一档</div>


            <div class="form-item m_t help">
                <label class="form-label" style="width:20%">帮别人甩奖励金额和概率</label>
                <div class="form-input ziji">
                    <input type="radio" name="help" value="别人概率" title=" " lay-filter="help" checked=''>
                </div>
                <div class="form-input ziji m_r">
                    <input type="text" name="goods_share_title" lay-verify="title" autocomplete="off" placeholder="  请输入金额"
                        class="layui-input">
                    <span class="percent">%</span>
                    <div class="tips">
                        <span class="red">*</span>奖励金额
                    </div>
                </div>
                <div class="form-input ziji">
                    <input type="text" name="goods_share_title" lay-verify="title" autocomplete="off" placeholder="  请输入数字"
                        class="layui-input">
                    <div class="tips">
                        <span class="red">*</span>输入数字后计算出出现的概率；0 ~ 99999,概率=此处数字÷所有添加档数字之和
                    </div>
                </div>
            </div>
            <div class="one_more" @click="add_help">添加一档</div>

            <div class="layui-form-item" style="width:100%;">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" type="submit" id="submit">保存</button>
                    <button type="button" class="layui-btn layui-btn-primary"
                        onClick="javascript :history.back(-1);">返回</button>
                </div>

            </div>
        </form>
    </div>
    {/block}
    <!--_footer 作为公共模版分离出去-->
    {include file="template/_footer" /}
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    {block name="bottom"}
    <script src="__STATIC__/admin/common/js/vue.js"></script>
    <script type="text/javascript">
        layui.config({
            base: "js/"
        }).use(['form', 'layer', 'jquery', 'laypage'], () =>  {
            var form = layui.form(),
                layer = parent.layer === undefined ? layui.layer : parent.layer,
                laypage = layui.laypage,
                $ = layui.jquery;


            const app = new Vue({
                el: "#app",
                data: {

                },
                methods: {
                    //自己概率的增加
                    add_oneself: () => {
                        var dhtml = "";
                        dhtml = `<div class="form-item clone">
                                        <label class="form-label" style="width:20%"></label>
                                        <div class="form-input ziji">
                                                <input type="radio" name="oneself" value="" title=" " lay-filter="gailv" >
                                        </div>
                                        <div class="form-input ziji m_r">
                                            <input type="text" name="percent_oneself" lay-verify="title" autocomplete="off" placeholder="  请输入金额"
                                                class="layui-input">
                                            <span class="percent">%</span>
                                            <div class="tips">
                                                <span class="red">*</span>奖励金额
                                            </div>
                                        </div>
                                        <div class="form-input ziji">
                                            <input type="text" name="probability_oneself" lay-verify="title" autocomplete="off" placeholder="  请输入数字"
                                                class="layui-input" style="margin-right: 110px;">
                                            <div class="del_div" id="del_oneself"><img src="__STATIC__/admin/index/img/u1306.png" class="img_x"></div>
                                            <div class="tips">
                                                <span class="red">*</span>输入数字后计算出出现的概率；0 ~ 99999,概率=此处数字÷所有添加档数字之和
                                            </div>
                                        </div>
                                    </div>`;
                        $('.oneself').after(dhtml);
                        $('#del_oneself').on('click', () => {
                            $("#del_oneself").parents('.clone').remove();
                        });
                        form.render();
                    },
                    
                    add_help: () => {
                        var dhtml = "";
                        dhtml = `<div class="form-item clone">
                                    <label class="form-label" style="width:20%"></label>
                                    <div class="form-input ziji">
                                        <input type="radio" name="help" value="别人概率" title=" " lay-filter="help" >
                                    </div>
                                    <div class="form-input ziji m_r">
                                        <input type="text" name="goods_share_title" lay-verify="title" autocomplete="off" placeholder="  请输入金额"
                                            class="layui-input">
                                        <span class="percent">%</span>
                                        <div class="tips">
                                            <span class="red">*</span>奖励金额
                                        </div>
                                    </div>
                                    <div class="form-input ziji">
                                        <input type="text" name="goods_share_title" lay-verify="title" autocomplete="off" placeholder="  请输入数字"
                                            class="layui-input"  style="margin-right: 110px;">
                                        <div class="del_div" id="del_help"><img src="__STATIC__/admin/index/img/u1306.png" class="img_x"></div>
                                        <div class="tips">
                                            <span class="red">*</span>输入数字后计算出出现的概率；0 ~ 99999,概率=此处数字÷所有添加档数字之和
                                        </div>
                                    </div>
                                    </div>`;
                        $('.help').after(dhtml);
                        $('#del_help').on('click', () => {
                            $("#del_help").parents('.clone').remove();
                        });
                        form.render();
                    }
                }
            })
        })



    </script>

    {/block}

</body>

</html>